In [ ]:
# How to create like this (dict inside list)
# data = [{'name':'Ram','ntc':'9867667654','ncell':9808778765},
#        {'name':'Shyam','ntc':'9867667454','ncell':9804778765}
#        {'name':'Hari','ntc':'9867660654','ncell':9808771765}]

In [1]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = input("Enter ntc phone = ")
    ncell_phone = input("Enter ncell phone = ")
    data = {'name':name,'ntc':ntc_phone,'ncell':ncell_phone}
    info.append(data)

    
print(info)

Enter n = 2
Enter name = Ram
Enter ntc phone = 9878887654
Enter ncell phone = 9808778765
Enter name = Shyam
Enter ntc phone = 9867667654
Enter ncell phone = 9808776765
[{'name': 'Ram', 'ntc': '9878887654', 'ncell': '9808778765'}, {'name': 'Shyam', 'ntc': '9867667654', 'ncell': '9808776765'}]

In [2]:
info[0]

{'name': 'Ram', 'ntc': '9878887654', 'ncell': '9808778765'}

In [3]:
info[1]

{'name': 'Shyam', 'ntc': '9867667654', 'ncell': '9808776765'}

In [4]:
info

[{'name': 'Ram', 'ntc': '9878887654', 'ncell': '9808778765'},
 {'name': 'Shyam', 'ntc': '9867667654', 'ncell': '9808776765'}]

# Dictionary inside dictionary

In [5]:
d = {1:{'name': 'Sita', 'ntc': '9878884654', 'ncell': '9808278765'},
    2:{'name': 'Shyam', 'ntc': '9867667654', 'ncell': '9808776765'}}
print(d)

{1: {'name': 'Sita', 'ntc': '9878884654', 'ncell': '9808278765'}, 2: {'name': 'Shyam', 'ntc': '9867667654', 'ncell': '9808776765'}}

In [6]:
info = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    ntc_phone = input("Enter ntc phone = ")
    ncell_phone = input("Enter ncell phone = ")
    data = {'name':name,'ntc':ntc_phone,'ncell':ncell_phone}
    info[i] = data

    
print(info)

Enter n = 2
Enter name = Ram
Enter ntc phone = 9867776543
Enter ncell phone = 9808778765
Enter name = Shyam
Enter ntc phone = 9867776543
Enter ncell phone = 9808778765
{1: {'name': 'Ram', 'ntc': '9867776543', 'ncell': '9808778765'}, 2: {'name': 'Shyam', 'ntc': '9867776543', 'ncell': '9808778765'}}

In [7]:
info = {1: {'name': 'Ram', 'ntc': '9867776543', 'ncell': '9808778765'},
        2: {'name': 'Shyam', 'ntc': '9867776543', 'ncell': '9808778765'}}
info[1]

{'name': 'Ram', 'ntc': '9867776543', 'ncell': '9808778765'}

In [8]:
del info[1]['name']
info

{1: {'ntc': '9867776543', 'ncell': '9808778765'},
 2: {'name': 'Shyam', 'ntc': '9867776543', 'ncell': '9808778765'}}

In [11]:
info[1]['name'] = "Rama"
info

{1: {'ntc': '9867776543', 'ncell': '9808778765', 'name': 'Rama'},
 2: {'name': 'Shyam', 'ntc': '9867776543', 'ncell': '9808778765'},
 3: {'name': 'Hari', 'ntc': '9867773543', 'ncell': '9808718765'}}

In [10]:
info[3] = {'name': 'Hari', 'ntc': '9867773543', 'ncell': '9808718765'}
info

{1: {'ntc': '9867776543', 'ncell': '9808778765', 'name': 'Rama'},
 2: {'name': 'Shyam', 'ntc': '9867776543', 'ncell': '9808778765'},
 3: {'name': 'Hari', 'ntc': '9867773543', 'ncell': '9808718765'}}

In [13]:
d = {1.1:'Apple','b':'Ball','c':'Cat'}
d

{1.1: 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [20]:
d = {['Ram','Hari']: '980768786', 'Shyam': '8798789'}
d

TypeError: unhashable type: 'list'

In [21]:
 = {('Ram','Hari'): '980768786', 'Shyam': '8798789'}
d

SyntaxError: invalid syntax (2525762421.py, line 1)

In [22]:
#tuple inside tuple
a = (('Apple', 200, 2, 400), ('Banana', 100, 3, 300))
a

(('Apple', 200, 2, 400), ('Banana', 100, 3, 300))

In [23]:
a[0]

('Apple', 200, 2, 400)

In [24]:
a[1]

('Banana', 100, 3, 300)

In [37]:
list(range(0,50,3))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [50]:
st = 'Krishna Prasad Shrestha'

In [51]:
st.split()

['Krishna', 'Prasad', 'Shrestha']

In [56]:
for word in st.split():
    if word[0]== 'S':
        print(word)

Shrestha