In [ ]:
 Dictionary
# -Indexing
# -Ordering
# -Multiple data
# -Mutable

In [1]:
d = dict()

In [ ]:
# d = {<key>:<value>,<key>:<value>}

In [2]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
print(type(d))
print(d)

<class 'dict'>
{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [3]:
print(d['a'])
print(d['b'])
print(d['c'])

Apple
Ball
Cat

In [5]:
d = {'a':'Apple','b':'Ball','c':'Cat','a':'Ant'}
d

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [6]:
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
d['d'] = 'Dog'
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [7]:
d = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}
d['a'] = 'Ant'
d

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [12]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info[name] = phone
    
print(info)

Enter n = 2
Enter name = Ram
Enter phone = 9841257236
Enter name = Shyam
Enter phone = 9841789456
{'Ram': '9841257236', 'Shyam': '9841789456'}

In [13]:
for i in info:
    print(i)

Ram
Shyam

In [14]:
for i in info.values():
    print(i)

9841257236
9841789456

In [15]:
for i in info.items():
    print(i)

('Ram', '9841257236')
('Shyam', '9841789456')

In [16]:
l = []
for i in info.items():
    l.append(i)
l

[('Ram', '9841257236'), ('Shyam', '9841789456')]

In [17]:
d = [[1,1],[2,4],[3,9]]
dict(d)

{1: 1, 2: 4, 3: 9}

In [18]:
# In dict no + - * / % // **

In [19]:
a = {'Ram': '980768786', 'Shyam': '8798789'}
b = {1: 1, 2: 4, 3: 9}
a.update(b)
a

{'Ram': '980768786', 'Shyam': '8798789', 1: 1, 2: 4, 3: 9}

In [20]:
a = {'Ram': '980768786', 'Shyam': '8798789'}
a['Shyam'] = 9808778765
a

{'Ram': '980768786', 'Shyam': 9808778765}

In [21]:
# del pop()
a = {'Ram': '980768786', 'Shyam': 9808778765}
del a['Ram']
a

{'Shyam': 9808778765}

In [22]:
a = {'Ram': '980768786', 'Shyam': '9808778765'}
b = a.pop('Ram')
print(b)
print(a)

980768786
{'Shyam': '9808778765'}

In [23]:
# list inside dict
a = {'Ram': ['980768786','9808776754'], 'Shyam': ['9808778765','9808667543']}
a['Ram']

['980768786', '9808776754']

In [24]:
print(a['Ram'][0])

980768786

In [25]:
a['Hari'] = [9867667654,9808778654]
a

{'Ram': ['980768786', '9808776754'],
 'Shyam': ['9808778765', '9808667543'],
 'Hari': [9867667654, 9808778654]}

In [26]:
a['Ram'][0] = 9840000000
a

{'Ram': [9840000000, '9808776754'],
 'Shyam': ['9808778765', '9808667543'],
 'Hari': [9867667654, 9808778654]}

In [27]:
nfo = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = input("Enter ntc phone = ")
    ncell_phone = input("Enter ntc phone = ")
    info[name] = [ntc_phone,ncell_phone]
    
print(info)

Enter n = 2
Enter name = Ram
Enter ntc phone = 9841789456
Enter ntc phone = 9803456789
Enter name = Shyam
Enter ntc phone = 9841123456
Enter ntc phone = 9802123789
{'Ram': ['9841789456', '9803456789'], 'Shyam': ['9841123456', '9802123789']}

In [28]:
data = {'Name':['Ram','Shyam'],
       'ntc':[9867667654,9856554323],
       'ncell':[9808778765,9808334567]}
data

{'Name': ['Ram', 'Shyam'],
 'ntc': [9867667654, 9856554323],
 'ncell': [9808778765, 9808334567]}

In [29]:
#details of Ram
print(data['Name'][0],data['ntc'][0],data['ncell'][0])

Ram 9867667654 9808778765

In [30]:
# how to create like this
# data = {'Name':['Ram','Shyam'],
#        'ntc':[9867667654,9856554323],
#        'ncell':[9808778765,9808334567]}
# data

In [32]:
info = {'Name':[],'ntc':[],'ncell':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = input("Enter ntc phone = ")
    ncell_phone = input("Enter ncell phone = ")
    info['Name'].append(name)
    info['ntc'].append(ntc_phone)
    info['ncell'].append(ncell_phone)


    
print(info)

Enter n = 2
Enter name = Ram
Enter ntc phone = 9867667654
Enter ncell phone = 9808778765
Enter name = Shaym
Enter ntc phone = 9867667654
Enter ncell phone = 9808778765
{'Name': ['Ram', 'Shaym'], 'ntc': ['9867667654', '9867667654'], 'ncell': ['9808778765', '9808778765']}

In [33]:
# l = len(info['Name'])
b = input("Enter name = ")
# for index in range(len(a)):
#     if a[index] == b:
#         print(index)
        
index = info['Name'].index('Ram')
    
# i = int(input("Enter i = "))
for j in info:
    print(j,info[j][index],end=" ")

Enter name = Ram
Name Ram ntc 9867667654 ncell 9808778765

In [ ]:
How to create like this (dict inside list)
# data = [{'name':'Ram','ntc':'9867667654','ncell':9808778765},
#        {'name':'Shyam','ntc':'9867667454','ncell':9804778765}
#        {'name':'Hari','ntc':'9867660654','ncell':9808771765}]